.blog-description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url("./../images/photoholgic-Wixqdq_YSEY-unsplash.jpg");
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;
    background-size: cover;
    background-position: 50% 50%;
    opacity: 0.95;

    h1, p {
        text-align: center;
        color: #fff;
        margin: 0 auto;
    }

    p {
        width: 400px;
    }
}


@media (max-width: 476px) {
    .blog-description {
        height: 20vh;
        background-image: none;

        h1, p {
            color: #000;
            width: 250px;
        }
    }
}
